<div class="card">
  <div class="card-header">
    Mi pagina
  </div>
  <div class="card-body">
    <h5 class="card-title">Cristian Daniel Herrera</h5>
    <p class="card-text">Mi profesion es programador y mi hobbie es la música. </p>
    <a href="https://www.instagram.com/cristianherreraguitar" class="btn btn-primary">Visita mi instagram</a>
  </div>
</div>